<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="aac1a29f-83f6-4bcd-88b9-192898d3c60f"
            Publisher="CN=Yannick"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>MySuperMetroGame</DisplayName>
    <PublisherDisplayName>Yannick</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>MySuperMetroGame</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="MySuperMetroGame.App">
        <VisualElements
            DisplayName="MySuperMetroGame"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="MySuperMetroGame"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>